$sans: 'Source Sans Pro', sans-serif;
$border: 1px solid white;
$overlay: url('../img/overlay.png');
$green: #28AD93;
$red: #a80a00;
$overlay: url('../img/overlay.png');

.jumbotron{
  font-family: $sans;
  background-size: contain;
  color: #ffffff;
  background: rgb(40, 173, 147) $overlay;
}
.container{
  font-family: $sans;
}
.margin-bottom{
  font-family: $sans;
  margin-bottom: 80px;
}

.glyphicon{
  color: #28AD93;;
}

.footer{
  background: whitesmoke $overlay;
  box-shadow: inset 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
}
.settings{
  margin-left: 25%;
  margin-right: 25%;
}
h2{
color: rgb(40, 173, 147);
  text-align: center;
  margin: 1em;
}
.btn {
   background: $green $overlay;
   border-color: $green;
   text-align: center;
 }
.btn:hover{
  background: #ffffff;
  border-color: $green;
  color: $green;
}
.btn:active {
  background: $green $overlay;
  border-color: $green;
  text-align: center;
}
a {
  color: #000000;
}

h2 a {
  color: darkgray;
}
.btn > a{
  color: #ffffff;
}

a:hover {
  color: $green;
  text-decoration: none;
}
.edit_user{
  margin-left: 150px;
  margin-right: 150px;
}
.error{
  text-align: center;
  color: $red;
  margin-bottom: 5px;
}
.message{
  width: 250px;
  right: 40px;
  position:absolute;
  margin-top: -100px;
}