$sans: 'Source Sans Pro', sans-serif;
$border: 1px solid white;
$overlay: url('../img/overlay.png');
$green: #28AD93;
$red: #a80a00;
$overlay: url('../img/overlay.png');

.jumbotron{
  font-family: $sans;
  background-size: contain;
  color: #ffffff;
  background: rgb(40, 173, 147) $overlay;
}
.container{
  font-family: $sans;
}

.glyphicon{
  color: #28AD93;;
}

.navbar{
  background: $overlay;
  position: relative;
}
.settings{
  margin-left: 25%;
  margin-right: 25%;
}
h2{
color: rgb(40, 173, 147);
  text-align: center;
  margin: 1em;
}
.btn {
   background: $green $overlay;
   border-color: $green;
   text-align: center;
 }
.btn:hover{
  background: #ffffff;
  border-color: $green;
  color: $green;
}
.btn:active {
  background: $green $overlay;
  border-color: $green;
  text-align: center;
}
a {
  color: #000000;
}
h2 a {
  color: darkgray;
}

a:hover {
  color: $green;
  text-decoration: none;
}
