$sans: 'Source Sans Pro', sans-serif;
$border: 1px solid white;
$overlay: url('../img/overlay.png');

.jumbotron{
  font-family: $sans;
  background-size: contain;
  color: #ffffff;
  background: rgb(40, 173, 147) $overlay;
}
.container{
  font-family: $sans;
}

.glyphicon{
  color: #28AD93;;
}

.navbar{
  background: $overlay;
  position: relative;
}
.settings{
  margin-left: 25%;
  margin-right: 25%;
}
h2{
color: rgb(40, 173, 147);
  text-align: center;
  margin: 1em;
}
