$shadow: '0px 0px 5px 0px rgba(50, 50, 50, 0.75)';
$sans: 'Source Sans Pro', sans-serif;
$green: #28AD93;
$overlay: url('../img/overlay.png');
html {
  background: url("../img/vault3_web.jpg") no-repeat center center fixed;
  background-size: cover;
}

h2 {
  text-align: center;
  color: $green;
}

h4 {
  text-align: center;
  color: $green;
}

a {
  color: darkgray;
}

a:hover {
  color: $green;
  text-decoration: none;
}

.btn {
  background: $green $overlay;
  border-color: $green;
  text-align: center;
  margin-top: 1em;
}
.btn:hover{
  background: #ffffff;
  border-color: $green;
  color: $green;
}

.landing {
  font-family: $sans;
  position: fixed;
  top: 30%;
  bottom: 35%;
  right: 35%;
  left: 35%;
  max-height: 300px;
  min-height: 200px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  border-radius: 5px;
}