$shadow: '0px 0px 5px 0px rgba(50, 50, 50, 0.75)';
$sans: 'Source Sans Pro', sans-serif;
$green: #28AD93;
html{
  background: url("../img/vault3_web.jpg") no-repeat center center fixed;
  background-size: cover;
}
h2 {
  text-align: center;
  color: $green;
}

.btn {
  background-color: $green;
  border-color: $green;
  text-align: center;
}

.login {
  font-family: $sans;
  position: fixed;
  top: 30%;
  bottom: 30%;
  left: 30%;
  right: 30%;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  border-radius: 5px;
}