$shadow: '0px 0px 5px 0px rgba(50, 50, 50, 0.75)';
$sans: 'Source Sans Pro', sans-serif;
$green: #28AD93;
$overlay: url('../img/overlay.png');
html {
  background: url("../img/vault3_web.jpg") no-repeat center center fixed;
  background-size: cover;
}

h2 {
  text-align: center;
  color: $green;
}

h4 {
  text-align: center;
  color: $green;
}

a {
  color: darkgray;
}

a:hover {
  color: $green;
  text-decoration: none;
}
textarea {
  resize: none;
}

.btn {
  background: $green $overlay;
  border-color: $green;
  text-align: center;
  margin-top: 1em;
}
.btn:hover{
  background: #ffffff;
  border-color: $green;
  color: $green;
}

.register {
  font-family: $sans;
  position: fixed;
  top: 17.5%;
  bottom: 12.5%;
  right: 30%;
  left: 30%;
  min-width: 250px;
  min-height: 350px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  border-radius: 5px;
}

.glyphicon {
  color: $green;
}

@media only screen and (max-device-width: 360px) {
  .register{
    top: 12.5%;
    bottom: 12.5%;
    left: 3%;
    right: 3%;
  }
}

@media only screen and (max-device-width: 960px) {
  .register{
    top: 10%;
    bottom: 10%;
    left: 15%;
    right: 15%;
  }
}