.spacing {
  height: 25px;
}
.spacing-green {
  height: 150px;
  background-color: #28ad93;
  margin-top: -75px;
  z-index: 1;
}
.container-small {
  width: 700px;
  margin: auto;
  z-index: 9999;
}
.about-text {
  font-size: 20px;
  color: #808080;
  padding: 50px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: whitesmoke;
}
.jumbotron {
  font-family: 'Source Sans Pro', sans-serif;
  background-size: contain;
  color: #fff;
  background: #28ad93 url('../img/overlay.png');
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.container {
  font-family: 'Source Sans Pro', sans-serif;
}
.margin-bottom {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 80px;
}
.glyphicon {
  color: #28ad93;
}
.footer {
  background: whitesmoke url('../img/overlay.png');
  box-shadow: inset 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
}
.settings {
  margin-left: 25%;
  margin-right: 25%;
}
h2 {
  color: #28ad93;
  text-align: center;
  margin: 1em;
}
.btn {
  background: #28ad93 url('../img/overlay.png');
  border-color: #28ad93;
  text-align: center;
}
.btn:hover {
  background: #fff;
  border-color: #28ad93;
  color: #28ad93;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.btn:active {
  background: #28ad93 url('../img/overlay.png');
  border-color: #28ad93;
  text-align: center;
}
a {
  color: #000;
}
h2 a {
  color: darkgray;
}
.btn > a {
  color: #fff;
}
a:hover {
  color: #28ad93;
  text-decoration: none;
}
.edit_user {
  margin-left: 150px;
  margin-right: 150px;
}
.error {
  text-align: center;
  color: #a80a00;
  margin-bottom: 5px;
}
.message {
  width: 250px;
  right: 40px;
  position: absolute;
  margin-top: -100px;
}
