.jumbotron {
  font-family: 'Source Sans Pro', sans-serif;
  background-size: contain;
  color: #fff;
  background: #28ad93 url('../img/overlay.png');
}
.container {
  font-family: 'Source Sans Pro', sans-serif;
}
.glyphicon {
  color: #28ad93;
}
.navbar {
  background: url('../img/overlay.png');
  position: relative;
}
.settings {
  margin-left: 25%;
  margin-right: 25%;
}
h2 {
  color: #28ad93;
  text-align: center;
  margin: 1em;
}
.btn {
  background: #28ad93 url('../img/overlay.png');
  border-color: #28ad93;
  text-align: center;
}
.btn:hover {
  background: #fff;
  border-color: #28ad93;
  color: #28ad93;
}
.btn:active {
  background: #28ad93 url('../img/overlay.png');
  border-color: #28ad93;
  text-align: center;
}
a {
  color: #000;
}
h2 a {
  color: darkgray;
}
a:hover {
  color: #28ad93;
  text-decoration: none;
}
