.jumbotron {
  font-family: 'Source Sans Pro', sans-serif;
  background-size: contain;
  color: #fff;
  background: #28ad93 url('../img/overlay.png');
}
.container {
  font-family: 'Source Sans Pro', sans-serif;
}
.margin-bottom {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 80px;
}
.glyphicon {
  color: #28ad93;
}
.footer {
  background: whitesmoke url('../img/overlay.png');
  box-shadow: inset 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
}
.settings {
  margin-left: 25%;
  margin-right: 25%;
}
h2 {
  color: #28ad93;
  text-align: center;
  margin: 1em;
}
.btn {
  background: #28ad93 url('../img/overlay.png');
  border-color: #28ad93;
  text-align: center;
}
.btn:hover {
  background: #fff;
  border-color: #28ad93;
  color: #28ad93;
}
.btn:active {
  background: #28ad93 url('../img/overlay.png');
  border-color: #28ad93;
  text-align: center;
}
a {
  color: #000;
}
h2 a {
  color: darkgray;
}
.btn > a {
  color: #fff;
}
a:hover {
  color: #28ad93;
  text-decoration: none;
}
.edit_user {
  margin-left: 150px;
  margin-right: 150px;
}
.error {
  text-align: center;
  color: #a80a00;
  margin-bottom: 5px;
}
.message {
  width: 250px;
  right: 40px;
  position: absolute;
  margin-top: -100px;
}
