html {
  background: url("../img/vault3_web.jpg") no-repeat center center fixed;
  background-size: cover;
}
h2 {
  text-align: center;
  color: #28ad93;
}
.btn {
  background-color: #28ad93;
  border-color: #28ad93;
  text-align: center;
}
.login {
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  top: 30%;
  bottom: 30%;
  left: 30%;
  right: 30%;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  border-radius: 5px;
}
