html {
  background: url("../img/vault3_web.jpg") no-repeat center center fixed;
  background-size: cover;
}
h2 {
  text-align: center;
  color: #28ad93;
}
h4 {
  text-align: center;
  color: #28ad93;
}
a {
  color: darkgray;
}
a:hover {
  color: #28ad93;
  text-decoration: none;
}
.btn {
  background: #28ad93 url('../img/overlay.png');
  border-color: #28ad93;
  text-align: center;
  margin-top: 1em;
}
.btn:hover {
  background: #fff;
  border-color: #28ad93;
  color: #28ad93;
}
.login {
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  top: 20%;
  bottom: 25%;
  right: 35%;
  left: 35%;
  max-width: 450px;
  max-height: 400px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  border-radius: 5px;
}
.glyphicon {
  color: #28ad93;
}
.error {
  text-align: center;
  color: #a80a00;
  margin-bottom: 5px;
}
